<ul>

  <h2><li><%= @restaurant.name %></li></h2>

  <h2><li><%= @restaurant.address %></li></h2>

  <h2><li><%= @restaurant.phone_number %></li></h2>

  <h2><li><%= @restaurant.category %></li></h2>

</ul>

<%= link_to "Back to list", restaurants_path %>

